.referred-attendee-container {
  position: relative;
  padding-top: 4em;
  margin: 1em;
  text-align: center;
  color: $theme-grey;
  h3 {
    margin: 0.5em;
  }
  
  .registerForm {
    height: auto;
    h4 {
      background-color: $theme-grey;
      color: $theme-tacgrey;
      padding: 0.5em;
    }
  }
}
