<section class="management-email-page container-fluid">
  <div ng-show="guestListLoadInProgress" class="management-email-progress">
    <p class="management-email-message">Loading guest list...</p>
  </div>
  <header class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="flex-container-row flex-vertical-center">
        <h2>Management - Event Guest Lists</h2>
        <a class="sqn-btn" ui-sref="management">Back To Management</a>
      </div>
  </header>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Select an event to view guest list:</h3>
    <div class="flex-container-row flex-vertical-center">
      <button class="sqn-btn sqn-btn-flex" ng-repeat="evt in allEvents" ng-click="loadEventGuests(evt)" ng-bind="evt.name" ng-class="{'product-option-selected': evt.$id === selectedEvent.$id }"></button>
    </div>
    <div ng-show="!guests.length">
      <h3>Select an event to view guests.</h3>
    </div>
    <div ng-show="guests.length" class="flex-container-row">
      <button ng-click="downloadEventGuestList()" class="sqn-btn-flex sqn-btn-positive" ng-bind="printLabel" ng-disabled="creatingPrintableList" ng-class="{'sqn-btn-disabled': creatingPrintableList}"></button>
      <a ng-show="fileGenerated" ng-href="{{ fileDownloadLink }}" class="sqn-btn-positive sqn-btn-flex" target="_self">Download Guest List</a>
    </div>
    <div ng-show="guests.length">
      <h4>Find an Attendee</h4>
      <form ng-submit="filterAttendees()" name="userSearchForm" class="flex-container-row flex-vertical-center find-attendee-form">
        <div>
          <label>Registed User name (first, last or both, at least one)</label>
          <input type="text" class="sqnInputActive" ng-model="search.firstName" ng-required="!search.lastName" placeholder="First Name"></input>
          <input type="text" class="sqnInputActive" ng-model="search.lastName" placeholder="Last Name" ng-required="!search.firstName"></input>
          <input type="submit" value="Find Attendee" class="sqn-btn-positive" ng-disabled="userSearchForm.$invalid" ng-class="{'sqn-btn-disabled': userSearchForm.$invalid }"></input>
          <button class="sqn-btn" ng-click="resetSearch($event)">Reset</button>
        </div>
      </form>
    </div>
    <div>
      <div class="flex-container-row event-guests-output">
        <event-guest-list class="" ng-repeat="details in guests | filter:searchParams" details="details" evt="selectedEvent"></event-guest-list>
      </div>
    </div>
  </div>
</section>
