@media screen and (max-width: $screen-xs-max) {
  .tab-selector-small {
    display: block;
  }
  .tab-selector-large {
    display: none;
  }

  .chat-view-small {
    display: block;
  }

  .chat-view-large {
    display: none;
  }
}

@media screen and (min-width: $screen-sm-min){
  .tab-selector-small {
    display: none;
  }
  .tab-selector-large {
    display: block;
  }

  .chat-view-small {
    display: none;
  }

  .chat-view-large {
    display: block;
  }
}

.tab-selector-small {

}

.message-group-modification {
  padding: 1.5em;
}

.messaging-state {
  padding-top: 4em;
  color: $theme-grey;
}

.new-message-group {
  flex-grow: 1;
  padding: 0.5em;
}

.session-options {
  border: 3px solid $theme-grey;
  padding: 0;
}

.messaging-tab-selector {
  flex-grow: 1;
  padding: 0.5em;
  cursor: pointer;
  background-color: $theme-tacgrey;
  color: $theme-grey;
}

.tab-active {
  background-color: $theme-grey;
  color: $theme-tacgrey;
}

.input-inline {
  display: inline-block;
}

messaging-contact {
  display: block;
  width: 20em;
  margin: 0.25em;
  @include theme-shadow-default;
  flex-grow: 1;

  section {
    padding: 0.5em;
    z-index: 750;
    header {
      align-items: stretch;

      h4, p {
        flex-grow: 1;
        margin: 0.1em;
      }

      p {
        background-color: $theme-grey;
        color: $theme-tacgrey;
        padding: 0.125em;
        font-size: 0.7em;
        text-align: center;
      }

    }

    footer {
      z-index: 750;
      a {
        z-index: 750;
        color: $theme-grey;
        display: block;
        margin: 0.25em 0.25em 0.25em 0.25em;
        padding: 0.25em;
      }
    }
  }

  user-platforms{
    display: block;
    align-items: baseline;


    span {
      text-align: center;
      padding: 0.125em;
      font-size: 1rem;
      background-color: #88BD91;
      color: #EFEFEF;
      margin: 0.2em 0em;
      flex-grow: 1;
    }
  }
}

message-contact-options {
  position: relative;
  z-index: 700;
  display: none;
  /*@include transition-mixin(transform 0.5s ease-in-out);*/
}

.show-options {
  display: block;
}

.messages-view {
  height: 50vh;
  width: 90%;
  margin: 1em auto;
}

.current-user-message {
  margin-left: 25%;
}

chat-message-output {
  display: block;
  width: 75%;

}
