<section class="management-shop-panel container-fluid">
  <header class="row">
    <h2>Management - Shop</h2>
  </header>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <h4>Add new product</h4>
      <form class="new-product-form" name="addNewProductForm" ng-submit="addNewProduct()">
          <label class="" for="productName">Product Name</label>
          <input type="text" name="productName" ng-model="newProduct.name" class="sqnInputActive sqn-input-wide" placeholder="Enter the name of your product"></input>
          <label for="productDescription">Description</label>
          <textarea name="productDescription" ng-model="newProduct.description" placeholder="Describe your product" class="sqnInputActive"></textarea>
          <label for="productPrice">Price</label>
          <input type="text" class="sqnInputPrice" ng-model="newProduct.price"></input>
          <div>
            <button class="sqn-btn" ng-click="addOptions()">Add Options</button>
            <button class="sqn-btn" ng-click="noOptions()">No Options</button>
          </div>
          <div class="new-product-options">
          </div>
          <label for="productImage">Image To Upload</label>
          <input type="file" onchange=""></input>
        <div class="flex-container-row">
          <input type="submit" class="sqn-btn-positive" value="Add Product">
          <button class="sqn-btn" ng-click="resetFormAndClose()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>
