user-order {
  position: relative;
  display: block;
  margin: 0.5em;
  background-color: $theme-blue;
  color: $theme-tacgrey;

  header {
    padding: 0.25em;
  }
}

.user-order-paid {
  background-color: $theme-green;
  .user-order-status {
    color: $theme-green;
  }
}

.user-order-status {
  background-color: $theme-tacgrey;
  color: $theme-blue;
  padding: 0.25em 0.5em;
  border-right: 3px solid $theme-tacgrey;
  margin-left: 0.25em;
}

.flex-user-order {
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  h5 {
    border: 3px solid $theme-tacgrey;
    margin: 0.25em;
    padding: 0.25em 0em 0.25em 0.25em;
  }
}
