@mixin background-img-settings($default-color, $img-url, $position){
  background: $default-color;
  background-image: url($img-url);
  background-origin: border-box;
  background-position: $position;
  background-size: cover;
  background-clip: border-box;
}

@mixin small-screen-date-settings {
  .home-description {
    .anniversary-date-banner {
      @include background-img-settings($theme-transparent-black, "/images/home/bg-date-dark.jpg", center)
    }
  }
}

@mixin tile-blurb-md-lg-animation {
  animation: fade-in 2s 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

$theme-transparent-black: rgba(0,0,0,0.75);

@mixin tile-display-none {
  .tile-spanning-oceans {
    display: none;
  }
  .tile-orions {
    display: none;
  }
}

@mixin tile-shadow-display {
  .tile-spanning-oceans {
    @include theme-shadow-default;
  }
  .tile-orions {
    @include theme-shadow-default;
  }
  .tile-blurb {
    @include theme-shadow-default;
  }
}

@media screen and (max-width: $screen-xxs-max){
  #main-title {
    @include tile-display-none;
    .home-side-panel {
      .home-title {
        background-color: $theme-transparent-black;
      }
      .tile-blurb {
        .anniversary-date-banner {
          display: none;
        }
      }
    }
  }
  @include small-screen-date-settings;
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  #main-title {
    max-height: 30em;
    @include tile-display-none;
    .home-side-panel {
      .home-title {
        background-color: $theme-transparent-black;
      }
      .tile-blurb {

        .anniversary-date-banner {
          display: none;
        }
      }
    }
  }
  @include small-screen-date-settings;
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  #main-title {
    min-height: 30em;
    @include tile-shadow-display;
    .tile-blurb {
      @include tile-blurb-md-lg-animation;
    }
  }

  .home-description {
    @include tile-display-none;
    .anniversary-date-banner {
      display: none;
    }
  }
}


@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
  #main-title {
    min-height: 35em;
    @include tile-shadow-display;
    .tile-blurb {
      @include tile-blurb-md-lg-animation;
    }
  }

  .home-description {
    @include tile-display-none;
    .anniversary-date-banner {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-lg-min){
  #main-title {
    min-height: 35em;
    @include tile-shadow-display;
    .tile-blurb {
      @include tile-blurb-md-lg-animation;
    }
  }

  .home-description {
    @include tile-display-none;
    .anniversary-date-banner {
      display: none
    }
  }
}


#home {
  position: relative;
  min-width: 100%;
  text-align: center;
  /*background: white;
  background-image: url("/images/home/crest-overalls-002.jpg");
  background-origin: border-box;
  background-position: left;
  background-size: cover;
  background-clip: border-box;*/
  #main-title {
    position: relative;
    padding: 5em 0 0 0;
    animation: fade-in 1s 1;
    @include background-img-settings($theme-tacgrey,"/images/home/crest-overalls-002.jpg", left);
    .home-side-panel {
      background-color: transparent;
      color: white;
      margin-bottom: 1em;
      padding: 0 0.5em 2em 0.5em;
      .home-title {
        padding-bottom: 1em;
        h3 {
          margin: 0.5em 0;
        }
      }
    }
  }

  .anniversary {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 1em 1em 0 1em;
    p {
      color: white;
    }
  }

  .anniversary-year {
    left: 0px;
    font-size: 3em;
    color: $theme-blue;
  }

  .anniversary-tag {
    position: absolute;
    padding: 0 1em 0 0;
    font-size: 1em;
    height: 3em;
    color: white;
    right: 0px;
    font-weight: bold;
  }

  .anniversary-caption {
    @extend .anniversary-tag;
    right: 0px;
    bottom: 0px;
    color: white;
  }

  .anniversary-date-top {
    @extend .anniversary-tag;
    padding-top: 1.5em;
    top: 0px;
  }

  .anniversary-date-offset {
    @extend .anniversary-tag;
    bottom: 2em;
    color: $theme-grey;
  }

  .anniversary-caption-dark {
    @extend .anniversary-caption;
    color: $theme-grey;
  }

  .anniversary-date-banner {
    position: relative;
    color: $theme-blue;
    text-align: center;
    margin: 0 0 1em 0;
    h3 {
      margin: 0.5em 0em;
    }
    p {
      font-size: 1.5em;
    }
  }

  .tile {
    margin-bottom: 1em;
    padding: 2em 1em 0em 1em;
    min-height: 10em;
    .tile-caption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 0 1em 1em 1em;
      background-color: rgba(0,0,0,0.75);
      color: white;
    }
  }


  .tile-spanning-oceans {
    @extend .tile;
    @include background-img-settings($theme-tacgrey, "/images/home/serve-nz.jpg", left);
    animation: fade-in 2s 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .tile-orions {
    @extend .tile;
    background-image: url("/images/home/NZP3K2002.jpg");
    @include background-img-settings(inherit, "/images/home/NZP3K2002.jpg", left);
    animation: fade-in 3s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .tile-blurb {
    @include text-align-left;
    min-height: 5em;
    padding: 1.5em 1.5em 0.75em 1.5em;
    background-color: $theme-transparent-black;
    @include background-img-settings($theme-transparent-black, "/images/home/those-before.jpg", center);
    height: auto;
  }

  .tile-non-side {
    margin-left: 1em;
  }

  .home-description {
    padding: 0.5em 1em 1em 1em;
    color: $theme-grey;
    background-color: inherit;
    .anniversary-date-banner {
      padding: 1em;
    }
  }
}
