#registerNewAttendee {
  position: relative;
  padding-top: 4em;
  text-align: center;
  color: $theme-grey;
  .register-option-complete {
    background-color: $theme-green;
    border: 3px solid $theme-green;
    padding: 0.25em;
    margin-bottom: 1em;
    color: $theme-tacgrey;
  }
  .button-holder {
    .button-panel {
      @extend .button-flex-login-register;
    }
  }
  .registerForm {
    height: auto;
    h4 {
      background-color: $theme-grey;
      color: $theme-tacgrey;
      padding: 0.5em;
    }
  }
  .info-banner {
    margin: 2em 0em 0em 0em;
    padding: 1em;
    text-align: left;
    background-color: $theme-grey;
    color: $theme-tacgrey;
  }
}
