.idea
node_modules
npm-debug.log
public/scripts
public/video
public/images
public/main.js
public/style.css
public/favicon.png
.DS_Store
coverage
browser/js/credentials.js
raw_media
.firebaserc
.firebase
database.rules.json
firebase.json
**/*.swp
