<active-chat-panel user="user"></active-chat-panel>
<attendee-event-details></attendee-event-details>
<attendee-order-detail></attendee-order-detail>
<section id="user-profile" class="container-fluid">
  <div class="row">
    <div class="flex-container-row attendee-header">
      <h2>Welcome back {{ user.firstName }}</h2>
      <span>{{ userCat }}</span>
      <button ui-sref="messaging({id: user.id || user.uid || user.$id })" class="sqn-btn-positive">Chat</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h3>Manage your events</h3>
      <div class="attendee-event-viewer">
        <attendee-event ng-repeat="event in events" evt="event" attendee="user"></attendee-event>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 attendee-information">
      <div class="attendee-information-header">
        <button class="sqn-btn" ng-class="{'sqn-btn-active': informationDisplay === 'announcements'}" ng-click="setInformationView('announcements')">View Announcements</button>
        <button class="sqn-btn" ng-click="setInformationView('orders')" ng-class="{'sqn-btn-active': informationDisplay === 'orders'}">View Orders</button>
      </div>
      <div scroll-bottom class="attendee-information-viewer">
        <user-order ng-if="informationDisplay === 'orders'" ng-repeat="order in orders" order="order" ng-class="{'user-order-paid': order.paymentState === 'paid'}"></user-order>
        <article ng-if="informationDisplay === 'announcements'" ng-repeat="announcement in allAnnouncements">
          <header class="flex-container-row">
            <h4 ng-bind="announcement.title"></h4>
            <formatted-date rawdate="announcement.date"></formatted-date>
          </header>
          <formatted-text rawtext="announcement.content"></formatted-text>
          <footer></footer>
        </article>
      </div>
    </div>
  </div>
</section>
