<div ng-show="dispatchInProgress" class="management-email-progress">
  <p ng-bind="dispatchStatus" class="management-email-message"></p>
</div>
<section class="management-email-page container-fluid">
  <header class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="flex-container-row flex-vertical-center">
        <h2>Management - Email</h2>
        <a class="sqn-btn" ui-sref="eventGuests">Back To Event Guest Lists</a>
        <a class="sqn-btn" ui-sref="management">Back To Management</a>
      </div>
  </header>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div ng-if="!selectedUserMode">
      <h3>Allocate a group to send the email to:</h3>
      <div class="flex-container-row flex-vertical-center">
        <button class="sqn-btn sqn-btn-flex" ng-repeat="group in addresses" ng-click="group.action(group)" ng-bind="group.title" ng-class="{'product-option-selected': group.ident === email.groupIdent }"></button>
      </div>
    </div>
    <div ng-if="selectedUserMode" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Email Recipients:</h3>
      <div class="flex-container-row flex-vertical-center management-email-selected-users">
          <button class="sqn-btn-positive" ng-repeat="user in selectedUsers" title="Click to remove the user from the email" ng-click="removeUserFromList(user)">{{ user.firstName + ' ' + user.lastName }} <span class="glyphicon glyphicon-remove align-icon-top-text"></span></button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p class="sqn-not-available-label" ng-hide="addresseesAdded">Please add an address group (above) to the email</p>
      <form name="newEmailForm" ng-submit="submitNewEmail()" novalidate>
        <label class="management-email-form-label">Subject:</label>
        <input ng-model="email.subject" type="text" class="sqnInputActive management-email-form-field" name="emailSubject" required></input>
        <label class="management-email-form-label">Email Body</label>
        <textarea ng-model="email.body" type="text" class="sqnInputActive management-email-form-field management-email-text-area" name="emailBody" required></textarea>
        <div ng-show="displayUploadState" class="upload-status-output">
          <span ng-bind="displayOutput"></span>
        </div>
        <div class="email-asset-upload">
          <label class="email-field-label" for="productImage">File To Upload (drag and drop onto the field below or click 'Choose File'.)</label>
          <input file-upload type="file"></input>
          <button class="sqn-btn-positive" ng-click="initiateUpload($event)">Upload File To Link</button>
        </div>
        <div class="flex-container-row">
          <div class="uploaded-assets" ng-repeat="asset in emailAssets">
            <p><strong>File Name: </strong><span ng-bind="asset.fileName"></span></p>
            <p><strong>Paste the link below into the email to enable user download:</strong></p>
            <p ng-bind="asset.downloadURL"></p>
          </div>
        </div>
        <input type="submit" class="sqn-btn-positive" ng-disabled="newEmailForm.$invalid" ng-class="{'sqn-btn-disabled': newEmailForm.$invalid }"></input>
      </form>
    </div>
  </div>
</section>
