<div ng-show="orderIsUpdating" class="order-update">
  <p>Updating...</p>
</div>
<section class="order-management-holder">
  <header class="flex-container-row flex-vertical-center">
    <h3 ng-bind="order.recipient"></h3>
    <h3 ng-bind="order.order_ref"></h3>
  </header>
  <h4>To be paid by: {{ order.paymentMethod }}</h4>
  <div>
    <table class="order-management-table">
      <thead>
        <th>Product</th>
        <th>Variant</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr ng-repeat="product in order.products">
          <td ng-bind="product.title"></td>
          <td ng-bind="product.display_options"></td>
          <td ng-bind="product.quantity"></td>
          <td>${{ product.subtotal }}</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <h4>Total Order Price: ${{ order.totalPrice }}</h4>
      <h4>Payment State</h4>
      <div class="flex-container-row">
        <button ng-repeat="paystate in paymentState" class="sqn-btn sqn-btn-flex" ng-class="{ 'product-option-selected': order.paymentState === paystate }" ng-bind="paystate" ng-disabled="order.paymentState === paystate"></button>
      </div>
      <h4>Order State</h4>
      <div class="flex-container-row">
        <button class="sqn-btn sqn-btn-flex" ng-repeat="ostate in orderState" ng-class="{'product-option-selected': order.orderStatus === ostate}" ng-disabled="order.orderStatus === ostate" ng-bind="ostate" ng-click="updateOrderStatus(ostate)"></button>
      </div>
      <div class="flex-container-row">
      </div>
    </footer>
  </div>
</section>
