<section id="header-bar" class="flex-container-row">
  <div class="header-item-menu">
    <a class="sqn-btn-header" ui-sref="home">Home</a>
    <a class="sqn-btn-header" ui-sref="shopFront">Shop</a>
  </div>
  <div ng-hide="currentUser" class="header-item-user" ng-cloak>
    <button class="sqn-btn-header" ui-sref="newAttendee">Register</button>
    <button class="sqn-btn-header" ui-sref="login">Login</button>
  </div>
  <div ng-show="currentUser" class="header-item-user" ng-cloak>
    <button ng-click="goToUserProfile()" class="sqn-btn-header">Profile</button>
    <a ng-show="isManager" class="sqn-btn-header" ui-sref="management">Site Management</a>
    <button ng-click="logoutUser()" class="sqn-btn-header">Logout</button>
  </div>
</section>
