<div class="table-responsive">
  <table class="table variant-form-table">
    <tbody>
      <tr>
        <td ng-repeat="option in options">
          <select ng-model="variant.options[option.name]" name="optionsArray" class="" ng-options="choice for choice in option.choicesArray track by choice" ng-disabled="!editInProgress">
          </select>
        </td>
        <td>
          <input type="number" ng-model="variant.stock" class="sqnInputNumber-wide" ng-disabled="!editInProgress"></input>
        </td>
        <td>
          <input class="sqnInputNumber-wide" type="text" ng-model="variant.price" ng-disabled="!editInProgress" placeholder="00.00"></input>
        </td>
        <td>
          <button class="sqn-btn-positive" ng-click="toggleEdit($event)" ng-bind="label"></button>
        </td>
        <td>
          <button class="sqn-btn-danger" ng-click="removeVariant($event)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="text" ng-model="variant.imageUrl" class="sqnInputReadonly table-row-full" ng-class="{'sqnInputActive': editInProgress }" ng-disabled="!editInProgress"></input>
</div>
