<div class="panel-display-tab" ng-click="toggleDisplay()">
  <span>Messages</span>
</div>
<section>
  <header>
    <a class="sqn-btn" ui-sref="messagingSession({id: userId, sessionId: 'no-session', sessionType: 'none' })">Find a squadron mate</a>
    <h5>Message Contacts</h5>
  </header>
  <div class="active-chat-holder">
    <chat-contact-tile ng-repeat="session in peerSessions" userid="user.$id || user.uid || user.id" session="session">
    </chat-contact-tile>
  </div>
  <div class="active-chat-holder">
    <h6>Your Private Group Chats</h6>
    <group-contact-tile ng-repeat="group in userGroupSessions" userid="user.$id || user.uid || user.id" session="group">
    </group-contact-tile>
  </div>
  <div class="active-chat-holder">
    <h6>Public Group chats</h6>
    <group-contact-tile ng-repeat="group in publicGroupSessions" userid="user.$id || user.uid || user.id" session="group">
    </group-contact-tile>
  </div>
</section>
