<section>
  <header class="flex-container-row">
    <h4 ng-class="{'user-online': user.online }">{{ user.firstName }} {{ user.lastName }}</h4>
    <p ng-bind="association"></p>
  </header>
  <user-platforms class="flex-container-row" userdata="user.platforms" platforms="platforms"></user-platforms>
  <footer>
    <a href="mailto:{{ user.email }}" ng-bind="user.email" title="Open your email application to send a message to this address."></a>
    <div class="flex-container-row">
      <button class="sqn-btn" ng-click="peerToPeerChat()">Chat</button>
      <button ng-if="!addedToGroup" class="sqn-btn" ng-click="addToGroup()">Add To Group</button>
      <button ng-if="addedToGroup && !addToExistingGroup" class="sqn-btn" ng-click="removeFromGroup()">Remove From Group</button>

    </div>
  </footer>
</section>
