<section id="registerNewAttendee" class="container">
  <div class="row">
    <span ng-show="error" class="warn">{{ error }}</span>
  </div>
  <h2 ng-show="processingData">Creating new user...</h2>
  <h3>It would be great to have you, let's get you registered!</h3>
  <div class="button-holder flex-container-row">
    <div ng-click="emailRegister()" class="button-panel">
      @
    </div>
    <div class="button-panel">
      Facebook
    </div>
    <div class="button-panel">
      G+
    </div>
  </div>
  <div class="row">
    <form ng-hide="!registerWithEmail" id="registerForm" name="register" ng-submit="saveAttendee()">
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <label class="control-label">First Name</label>
        <input class="form-control" type="text" ng-model="newAttendeeData.firstName" name="firstName"></input>
        <label class="control-label">Last Name</label>
        <input class="form-control" type="text" ng-model="newAttendeeData.lastName" name="lastName"></input>
        <label class="control-label">Email Address</label>
        <input class="form-control" type="email" name="attendeeEmail" ng-model="newAttendeeData.email"></input><span class="bg-danger" ng-show="!register.attendeeEmail.$valid && register.attendeeEmail.$dirty">Whoops, that email doesn't look quite right?</span>
        <label>Phone Number</label>
        <input type="tel" class="form-control"></input>
        <label>Password</label>
        <input type="password" name="passwordOne" class="form-control"></input>
        <label>Confirm Password</label>
        <input ng-model="newAttendeeData.password" type="password" class="form-control" name="passwordTwo"></input>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
        <h4>It'd be great to have you! How do you know us?</h4>
        <div class="radio">
          <label class="control-label"> <input type="radio" name="association" ng-model="attendee.association" value="current">Current Squadron Member</label>
        </div>
        <div class="radio">
          <label class="control-label"><input type="radio" ng-model="attendee.association" name="association" value="former">Former Squadron Member</label>
        </div>
        <div class="radio">
          <label class="control-label"><input type="radio" name="association" ng-model="attendee.association">Contractor</label>
        </div>

        <input type="submit" value="Register"></input>
      </div>

    </form>
  </div>
  <h3>{{ attendees.length }}</h3>
  <h6 ng-repeat="attendee in attendees">{{ attendee.firstName }}</h6>

</section>
