<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h4>Add new product</h4>
    <form class="new-product-form" name="addNewProductForm" ng-submit="addNewProduct()">
        <label class="field-label" for="productName">Product Name</label>
        <input type="text" name="productName" ng-model="newProduct.title" class="sqnInputActive sqn-input-wide" placeholder="Enter the name of your product"></input>
        <label class="field-label" for="productDescription">Description</label>
        <textarea name="productDescription" ng-model="newProduct.description" placeholder="Describe your product" class="sqnInputActive"></textarea>
        <label class="field-label" for="productPrice">Price / Default Price (variants can be assigned their own price if required)</label>
        $<input type="text" name="productPrice" class="sqnInputPrice" ng-model="newProduct.price" placeholder="00.00"></input>
        <div class="checkbox">
          <label for="deliverable">
            <input type="checkbox" ng-model="newProduct.deliverable" name="deliverable"></input>
            Product is available to be delivered by courier or post.
          </label>
        </div>
        <div>
          <label class="field-label">Product Options (e.g. colour: black, blue etc.)</label>
          <button class="sqn-btn-positive" ng-click="toggleAddOptions($event)" ng-bind="optionButtonLabel"></button>
          <button class="sqn-btn-danger" ng-click="noOptions($event)">Clear All Options</button>
        </div>
        <div class="table-responsive">
          <table class="table table-hover new-product-table" ng-show="addProductOptions && !addVariants">
            <thead>
              <th>Option Type</th>
              <th>Options</th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" name="optionName" ng-model="newOption.name" class="sqnInputActive" placeholder="e.g. Size"></input>
                </td>
                <td>
                  <input type="text" ng-model="newOption.choices" name="optionsArray" class="sqnInputActive"  placeholder="e.g. XS S M ..."></input>
                </td>
                <td>
                  <button class="sqn-btn-positive" ng-click="populateOptionArray($event)">Add Option</button>
                </td>
                <td>
                  <button class="sqn-btn-danger" ng-click="resetOptionForm($event)">Reset</button>
                </td>
              </tr>
            </tbody>
          </table>
          <product-options ng-repeat="option in newProductOptions" option="option"></product-options>
          <div>
            <label class="field-label">Product Variants (combination of options above)</label>
            <button class="sqn-btn-positive" ng-click="toggleAddVariants($event)" ng-bind="variantButtonLabel"></button>
            <button class="sqn-btn-danger" ng-click="clearVariants($event)">Clear All Variants</button>
          </div>
          <div ng-show="addVariants && !addProductOptions">
            <table class="table variant-form-table">
              <thead>
                <th ng-repeat="option in newProductOptions" ng-bind="option.name"></th>
                <th>Stock</th>
                <th>Price</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td ng-repeat="option in newProductOptions">
                    <select ng-model="newVariant.options[option.name]" name="optionsArray" class="" ng-options="choice for choice in option.choicesArray track by choice">
                    </select>
                  </td>
                  <td>
                    <input type="number" ng-model="newVariant.stock" class="sqnInputNumber-wide" min="0"></input>
                  </td>
                  <td>
                    $<input class="new-product-number" type="text" ng-model="newVariant.price" placeholder="00.00"></input>
                  </td>
                  <td>
                    <button class="sqn-btn-positive" ng-click="populateVariantArray($event)" ng-disabled="!newVariant['stock']" ng-class="{'sqn-btn-disabled': !newVariant['stock']}">Add Variant</button>
                  </td>
                  <td>
                    <button class="sqn-btn-danger" ng-click="resetVariantForm($event)">Reset</button>
                  </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
          <variant-options ng-repeat="variant in newProduct.variants" variant="variant" options="newProductOptions" ></variant-options>
        </div>
      <div ng-show="!newProductOptions.length && !newProduct.variants.length">
        <label class="field-label">Product Stock (if no variants are specified)</label>
        <input class="sqnInputNumber-wide" type="number" ng-model="newProduct.stock"></input>
      </div>
      <div class="upload-panel">
        <div ng-show="displayUploadState" class="upload-status-output">
          <span ng-bind="displayOutput"></span>
        </div>
        <label class="field-label" for="productImage">Image To Upload (drag and drop onto below or click browse)</label>
        <input file-upload type="file"></input>
        <button class="sqn-btn-positive" ng-click="initiateUpload($event)">Upload</button>
      </div>
      <!-- <div class="upload-progress-holder" ng-show="displayUploadState">
        <div class="upload-progress" width="{{uploadProgress}}%">{{uploadProgress}}%</div>
      </div> -->
      <div>
        <p ng-show="imageAssets.length === 0">No images for product.</p>
        <div ng-hide="imageAssets.length === 0">
          <div class="product-image-holder" ng-repeat="image in imageAssets">
            <img class="product-thumbnail" ng-src="{{ image.imageURL }}"></img>
            <div class="product-image-info table-responsive table-condensed">
              <table class="table table-hover">
                <tr>
                  <td>Image Link: </td>
                  <td ng-bind="image.imageURL"></td>
                </tr>
                <tr>
                  <td>File name:</td>
                  <td ng-bind="image.imageName"></td>
                </tr>
              </table>
            </div>
            <image-assign image="image" options="newProductOptions" product="newProduct"></image-assign>
            <div>
              <button class="sqn-btn-danger" ng-click="removeImage($event, image.imageName)">Remove Image</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p ng-show="!newProduct['imageName'] && !newProduct['imageURL']">Upload then add an image to the product. This will be the default image shown in the shop. Images assigned to variants will be displayed to the user when they select a variant on the product page.</p>
        <div ng-show="newProduct['imageName'] && newProduct['imageURL']">
          <span ng-bind="newProduct.imageName"></span>
          <button class="sqn-btn-danger" ng-click="removeProductImage($event)">Remove Image</button>
        </div>
      </div>
      <div class="flex-container-row">
        <input type="submit" class="sqn-btn-positive" value="Add Product">
        <button class="sqn-btn" ng-click="resetFormAndClose($event)">Cancel</button>
      </div>
    </form>
  </div>
</div>
