<section id="referredNewAttendee">
    <h3>Sorry, looks like you haven't registered yet, get started below.</h3>
    <form id="referredRegisterForm" name="referredRegister" ng-submit="createNewReferredUser()">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
        <h4>It'd be great to have you! How do you know us?</h4>
        <div class="radio">
          <label class="control-label"> <input type="radio" name="association" ng-model="newAttendeeData.association" value="current">Current Squadron Member</label>
        </div>
        <div class="radio">
          <label class="control-label"><input type="radio" ng-model="newAttendeeData.association" name="association" value="former">Former Squadron Member</label>
        </div>
        <div class="radio">
          <label class="control-label"><input type="radio" name="association" ng-model="newAttendeeData.association">Contractor</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
        <h3>What events are you planning to attend?</h3>
        <div class="checkbox">
          <label>
          <input type="checkbox" ng-model="newAttendeeData.events.openday" value="openDay"></input>Open Day</label>
          <label>
          <input type="checkbox" ng-model="newAttendeeData.events.dinner" value="dinner"></input>Dinner Function</label>
        </div>
      <div>

        <input type="submit" value="Register"></input>
      </div>
    </form>

</section>
