<shop-cart></shop-cart>
<section class="shop-product-page container-fluid">
  <div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="flex-container-row flex-vertical-center product-header">
        <h2 ng-bind="product.title"></h2>
        <a class="sqn-btn" ui-sref="shopFront">Back To Store</a>
      </div>
    </header>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 shop-product-image-holder">
      <div ng-show="notAvailable" class="item-not-available">
        <p>Sorry that product is no longer available</p>
      </div>
      <img ng-src="{{ imageToShow }}"></img>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product-description">
      <h4>What you're getting...</h4>
      <formatted-text rawtext="product.description"></formatted-text>
      <div class="product-option" ng-repeat="option in product.options">
        <h5>{{ option.name }}</h5>
        <button ng-class="{'product-option-selected': value === selectedOptions[option.name] }" class="sqn-btn sqn-btn-product" ng-repeat="value in option.values" ng-bind="value" ng-click="updateSelectedVariant(option.name, value)">
        </button>
      </div>
      <footer class="product-option">
        <div class="product-status">
          <h5><strong>Price:<strong> ${{ product.price}}</h5>
          <h5><strong>Stock:</strong> {{ stockIndicator }}</h5>
        <form name="addProductToBuy" ng-submit="addProductToCart()">
          <label>How many would you like?</label>
          <input type="number" name="requestedQuantity" ng-model="quantity" min="0" data-product-max="{{ stock }}" class="sqnInputNumber-wide"></input>
          <input type="submit" class="sqn-btn-positive" value="Add To Cart" ng-disabled="notAvailable || addProductToBuy.requestedQuantity.$invalid || (quantity === null)" ng-class="{'sqn-btn-disabled': notAvailable || addProductToBuy.requestedQuantity.$invalid || (quantity === null) }"></input>
        </form>
      </footer>
    </div>
  </div>
</section>
