<shop-cart></shop-cart>
<section class="shop-product-page container-fluid">
  <div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 ng-bind="product.title"></h2>
      <a class="sqn-btn" ui-sref="shopFront">Back To Store</a>
    </header>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="option in product.options">
      <h5>{{ option.name }}</h5>
      <button class="sqn-btn" ng-repeat="value in option.values" ng-bind="value">
      </button>
    </div>
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form name="addProductToBuy" ng-submit="addProductToCart()">
        <label>How many would you like?</label>
        <input type="number" ng-model="quantity" min="0" max="50" class="sqnInputNumber-wide"></input>
        <input type="submit" class="sqn-btn-positive" value="Add To Cart"></input>
      </form>
    </footer>
  </div>
</section>
