<active-chat-panel user="user"></active-chat-panel>
<div class="messaging-state container-fluid">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 session-chat">
      <div class="tab-selector-small">
        <div class="flex-container-row">
          <div class="messaging-tab-selector" ng-class="{'tab-active': activeTab === 'currentChat'}" ng-click="viewSelector('currentChat')">
            <h5>Current Chat</h5>
          </div>
          <div class="messaging-tab-selector" ng-class="{'tab-active': activeTab === 'members'}" ng-click="viewSelector('members')">
            <h5>Chat Members</h5>
          </div>
          <div class="messaging-tab-selector" ng-class="{'tab-active': activeTab === 'search'}" ng-click="viewSelector('search')">
            <h5>Search Contacts</h5>
          </div>
        </div>
      </div>
      <div class="chat-view-large">
        <header ng-if="sessionIsGroup">
          <h3 ng-bind="sessionName"></h3>
        </header>
        <div scroll-bottom class="messages-view">
          <chat-message-output ng-repeat="message in messages" userid="loggedInId" message="message"></chat-message-output>
        </div>
        <footer>
          <form name="newMessageForm" ng-submit="transmit()" class="flex-container-row new-message-box">
            <textarea ng-model="newMessage.content" name="content" placeholder="Write a message..." ng-required="true" novalidate>
            </textarea>
            <input type="submit" class="sqn-btn-positive" value="Send" ng-class="{'sqn-btn-disabled': newMessageForm.content.$invalid }" ng-disabled="newMessageForm.content.$invalid"></input>
          </form>
        </footer>
      </div>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 session-options">
      <div class="tab-selector-large">
        <div class="flex-container-row">
          <div class="messaging-tab-selector" ng-class="{'tab-active': activeTab === 'members'}" ng-click="viewSelector('members')">
            <h4>Chat Members</h4>
          </div>
          <div class="messaging-tab-selector" ng-class="{'tab-active': activeTab === 'search'}" ng-click="viewSelector('search')">
            <h4>Search Contacts</h4>
          </div>
        </div>
      </div>
      <section ng-if="activeTab === 'currentChat'" class="chat-view-small">
        <header ng-if="sessionIsGroup">
          <h3 ng-bind="sessionName"></h3>
        </header>
        <div scroll-bottom class="messages-view">
          <chat-message-output ng-repeat="message in messages" userid="loggedInId" message="message"></chat-message-output>
        </div>
        <footer>
          <form name="newMessageForm" ng-submit="transmit()" class="new-message-box flex-container-row">
            <textarea class="sqnInputActive" ng-model="newMessage.content" name="content" placeholder="Write a message..." ng-required="true" novalidate>
            </textarea>
            <input type="submit" class="sqn-btn-positive" value="Send" ng-class="{'sqn-btn-disabled': newMessageForm.content.$invalid }" ng-disabled="newMessageForm.content.$invalid"></input>
          </form>
        </footer>
      </section>
      <section ng-if="activeTab === 'members'" class="members-tab">
        <h5 ng-if="!membersLoaded">Loading members...</h5>
        <chat-contact-tile ng-repeat="member in sessionMembers" userid="loggedInId" session="member"></chat-contact-tile>
      </section>
      <section class="" ng-if="activeTab === 'search'">
        <div></div>
        <div class="">
          <div class="flex-container-row">
            <button class="sqn-btn-positive sqn-btn-flex" ng-click="createNewGroup()" ng-bind="creatingNewGroup.label"></button>
          </div>
          <div ng-if="creatingNewGroup.display" class="flex-container-row message-group-modification">
            <form class="new-message-group" name="newMessageGroup" ng-submit="createGroup()">
              <input type="text" class="sqnInputActive sqn-input-wide input-inline" ng-model="newGroup.name" placeholder="Add a group name"></input>
              <p ng-if="!newGroup.private">NOTE: Anyone can join a public group. Only Private group members can add others to their chat session.</p>
              <button class="sqn-btn-danger" ng-class="{'group-private': newGroup.private}" ng-click="makePrivateGroup($event)" ng-bind="groupPrivate"></button>
              <input class="sqn-btn-positive" type="submit" value="Create Group"></input>
            </form>
          </div>
          <search-options evts="events" categories="categories" platforms="platforms"></search-options>
          <div class="">
            <h5>Filter the results from above by the parameters here.</h5>
            <form name="userFilterForm" ng-submit="filterUsers()">
              <div class="flex-container-row">
                <input type="text" class="sqnInputActive" ng-model="filterParams.firstName" placeholder="First Name"></input>
                <input type="text" class="sqnInputActive" ng-model="filterParams.lastName" placeholder="Last Name"></input>
                <input type="text" ng-model="filterParams.email" class="sqnInputActive" placeholder="Email Address">
              </div>
              <div class="flex-container-row">
                <input type="submit" class="sqn-btn-inverse" value="Filter"></input>
              </div>
            </form>
          </div>
          <div class="flex-container-row messaging-search-results">
            <h3 ng-if="showMessage" ng-bind="activity"></h3>
            <messaging-contact user="result" current="user" ng-if="!loadingData" ng-repeat="result in searchResults | filter:userFilterParams"></messaging-contact>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
