@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-5em);
  }

  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}

@mixin header-item {
  width: auto;
  padding: 0.2em;
  text-align: center;
  color: #fff;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  h4 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0px;
  }

  &:hover {
    cursor: pointer;
    color: #45CDF3;
  }
}

#header-bar {
  position: fixed;
  z-index: 1000;
  background-color: #000;
  min-height: 3.5em;
  width: 100%;
  animation: drop-in 1s 1;

  .header-item-user {
    @include header-item;
    margin: auto 0.15em auto auto;
  }

  .header-item-menu {
    @include header-item;
    margin: auto auto auto 0.15em;
  }

  .headerStateActive {
    color: #45CDF3;
  }
}
