@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-5em);
  }

  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}

#header-bar {
  position: fixed;
  z-index: 1000;
  background-color: none;
  height: 5em;
  width: 100%;
  background: rgba(93, 105, 111, 0.75);
  animation: drop-in 1s 1;

  .header-item {
    width: auto;
    margin: auto;
    padding: 0.2em;
    text-align: center;
    color: #fff;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    h4 {
      font-size: 1.5em;
      margin: 0px;
    }

    &:hover {
      cursor: pointer;
      color: #45CDF3;
    }

  }

  .headerStateActive {
    color: #45CDF3;
  }
}
