.show-order-details {
  transform: translateY(0em);
}

.order-detail-user {
  background-color: $theme-tacgrey;
  color: black;
  padding: 0.5em;
}

.order-detail-price {
  border: 3px solid $theme-tacgrey;
  border-left: none;
  border-right: none;
  width: 98%;
}

.order-detail-address {
  padding: 0em 0.5em;
  p {
    margin: 0 0 0.25em 0;
  }
}

.order-items-title {
  padding: 0em 1em;
}

.order-detail-item-title {
  color: $theme-blue;
  font-weight: 800;
}

.order-detail-item {
  flex-grow: 1;
  width: 15em;
  margin: 1em;
  border: 3px solid $theme-tacgrey;
  padding: 1em;
}
.order-detail-flex {
  align-items: center;
  justify-content: space-between;
}

attendee-order-detail {
  position: fixed;
  height: calc(100vh - 4em);
  top: 3.5em;
  transform: translateY(-100vh);
  padding: 1em;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  color: #EFEFEF;
  display: block;
  z-index: 300;
  width: 100vw;
  @include transition-mixin(transform 0.5s ease-in-out);
  overflow-y: auto;
  header {
    border-bottom: 2px solid $theme-tacgrey;
  }

}
