<form  class="event-creation-form" name="eventEditForm" ng-submit="updateEvent()">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Name</label>
    <input class="sqnInput sqnInputActive" type="text" ng-model="modifiedEntry.name"></input>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Date</label>
    <div class="date-selector">
      <button class="sqn-btn" ng-class="{'sqn-btn-positive': activeDate === date }"ng-repeat="date in validDates" ng-click="modifyDate(date)" >{{ date }}</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Event Starts</label>
    <div class="edit-time-container">
      <input class="sqnInputNumber" type="text" number-parsing ng-model="modifiedEntry.startTime.hours" minlength="1" maxlength="2" name="startTimeHours"></input>
      <span>:</span>
      <input class="sqnInputNumber" type="text" number-parsing ng-model="modifiedEntry.startTime.minutes" placeholder="00" name="startTimeMinutes"></input>
      <span>24hr</span>
    </div>
    <label>Event Ends</label>
    <div class="edit-time-container">
      <input class="sqnInputNumber" type="text" ng-model="modifiedEntry.endTime.hours" minlength="1" maxlength="2" name="startTimeHours"></input>
      <span>:</span>
      <input class="sqnInputNumber" type="text" ng-model="modifiedEntry.endTime.minutes" placeholder="00" name="startTimeMinutes"></input>
      <span>24hr</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Location</label>
    <input class="sqnInputActive" type="text" ng-model="modifiedEntry.location"></input>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 event-blurb">
    <textarea ng-model="modifiedEntry.blurb" placeholder="Add some details about the event here."></textarea>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 event-options">
    <input class="sqn-btn-positive" type="submit" value="{{ updateLabel }}"></input>
    <button class="sqn-btn-inverse" ng-click="cancelEdit()">Cancel Edit</button>
  </div>
</form>
