#management-panel {
  padding-top: 4em;
  color: $theme-grey;
}

.mod-input-width {
  width: 20em;
}

modify-guest-category {
  position: relative;
  margin: 10px;
  display: block;

}

modify-platforms {
  position: relative;
  margin: 0.5em;
  display: block;
}

.item-list {
  margin-top: 20px;
}

.stats-header {
  width: 100%;
  background-color: $theme-blue;
  color: $theme-tacgrey;
  padding: 1rem;
  margin: 1rem 0rem;
}
