#management-panel {
  padding-top: 4em;
}

.management-sub-menu {
  margin: 10px auto;

  .new-event-creation {
    event-creation {
      display: inline-block;
      margin: 2em;
      border: 3px solid $theme-grey;
    }
  }
}

modify-guest-category {
  position: relative;
  margin: 10px;
  display: block;
}

.guest-category-list {
  margin-top: 20px;
}
