#management-panel {
  padding-top: 4em;
  color: $theme-grey;
}

.management-sub-menu {
  margin: 10px auto;

  .new-event-creation {
    event-creation {
      display: inline-block;
      margin: 2em;
      border: 3px solid $theme-grey;
    }
  }
}

.mod-input-width {
  width: 20em;
}

modify-guest-category {
  position: relative;
  margin: 10px;
  display: block;

}

modify-platforms {
  position: relative;
  margin: 0.5em;
  display: block;
}

.item-list {
  margin-top: 20px;
}
