<article>
  <header class="flex-container-row">
    <div class="announcement-details-holder">
      <h4 ng-bind="announcement.title"></h4>
      <formatted-date rawdate="announcement.date"></formatted-date>
    </div>
    <div class="announcement-button-holder">
      <button class="sqn-btn-danger" ng-click="removeAnnouncement(announcement)">Delete</button>
      <button class="sqn-btn" ng-click="toggleEditMode()">{{ editOption }}</button>
    </div>
  </header>
  <formatted-text rawtext="announcement.content"></formatted-text>
  <footer ng-show="editMode">
    <form ng-submit="updateAnnouncement()" name="announcementEditForm">
      <h4>Edit Announcement</h4>
      <label for="announcementTitle" class="input-form">Title</label>
      <input class="sqnInputActive sqn-input-wide input-form" type="text" ng-model="modifiedEntry.title" name="announcementTitle" placeholder="What's it about?" ng-required="true"></input>
      <label class="input-form">Content</label>
      <textarea ng-model="modifiedEntry.content" name="announcementContent" class="input-form" ng-required="true" placeholder="The nitty gritty goes here. The date of the announcement is automatically tagged on saving, sweet!"></textarea>
      <div class="block-btn-holder">
        <input ng-class="{'sqn-btn-disabled': announcementEditForm.announcementTitle.$invalid || announcementEditForm.announcementContent.$invalid }" ng-disabled="announcementEditForm.announcementTitle.$invalid || announcementEditForm.announcementContent.$invalid" type="submit" class="sqn-btn-positive" value="Save Update">
      </div>
    </form>
  </footer>
</article>
