<form class="add-guest-event" ng-submit="addNewGuest()" name="guestEventForm">
  <h4>Add a guest</h4>
  <div>
    <input ng-cloak text-field-check type="text" name="firstName" class="sqnInputActive-inverse" ng-model="guestDetails.firstName" placeholder="First Name" ng-required="true"></input>
    <p ng-cloak class="sqnInputError" ng-show="guestEventForm.firstName.$touched && guestEventForm.firstName.$invalid">Hmmm, that first name doesn't look quite right.</p>
  </div>
  <div>
    <input ng-cloak text-field-check type="text" name="lastName" class="sqnInputActive-inverse " ng-model="guestDetails.lastName" placeholder="Last Name" ng-required="true"></input>
    <p ng-cloak class="sqnInputError" ng-show="guestEventForm.lastName.$touched && guestEventForm.lastName.$invalid">Sorry, there's a problem with the last name.</p>
  </div>
  <input class="sqn-btn-positive" type="submit" ng-show="available && guestEventForm.$valid" ng-disabled="!available || (guestEventForm.firstName.$touched && guestEventForm.firstName.$invalid) || (guestEventForm.lastName.$touched && guestEventForm.lastName.$invalid)" value="Save Guest" ng-cloak></input>
</form>
