.login {
  padding-top: 5em;
  margin: 0 auto;
  width: 100vw;
  @include background-img-settings($theme-tacgrey, "/images/login/P3KFade.jpg", bottom);
  #login-selector {
    /*transform: translateY(0em);*/
    margin: 0 auto;
    max-width: 35em;
    @include transition-mixin(transform 0.5s, opacity 0.5s ease-in-out);
  }
  #login-selector.ng-hide {
    transform: translateY(10em);
    opacity: 0;
  }

  .email-login-form {
    padding-top: 6em;
    width: 90%;
    margin: 0 auto;
    @include transition-mixin(all 0.5s ease-in-out);

    .sqnInputError {
      border: none;
      border-radius: 0;
    }

    p {
      padding: 0.2em 1em;
    }
  }

  .email-login-form.ng-hide {
    opacity: 0;
    transform: translateY(-5em);
  }
}
