<section class="management-sub-menu container-fluid">
  <header class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Management Dashboard - Users</h2>
      <h4>Search users</h4>
      <div class="flex-container-row">
        <input type="text" class="sqnInputActive" ng-model="user" placeholder="Search by first or last name"></input>
      </div>
      <search-options evts="events" categories="categories" platforms="platforms"></search-options>
    </div>
  </header>
  <div class="flex-container-row">
    <div ng-if="showMessage">
      <h3 ng-bind="activity"></h3>
    </div>
    <user-management-panel ng-if="!loadingData" ng-repeat="result in searchResults | filter:user" user="result"></user-management-panel>
  </div>
</section>
