<section class="management-sub-menu container-fluid">
  <header class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Management Dashboard - Users</h2>
      <h4>Search users</h4>
      <div class="flex-container-row">
        <input type="text" class="sqnInputActive" ng-model="user" placeholder="Search by first or last name"></input>
      </div>
      <search-options evts="events" categories="categories" platforms="platforms"></search-options>
      <!-- <div class="flex-container-row">
        <button ng-repeat="option in userOptions" ng-disabled="{{option.disabledCriteria}}" ng-class="{{option.classCriteria}}" class="sqn-btn" ng-click="option.clickAction()" ng-bind="option.label"></button>
      </div>
      <div class="flex-container-row">

      </div> -->
    </div>
  </header>
  <div class="flex-container-row">
    <div ng-if="loadingData">
      <h3>Searching...</h3>
    </div>
    <user-management-panel ng-if="!loadingData" ng-repeat="result in searchResults | filter:user" user="result"></user-management-panel>
  </div>
</section>
