<shop-cart></shop-cart>
<section class="shop-product-page container-fluid">
  <div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 ng-bind="product.title"></h2>
      <a class="sqn-btn" ui-sref="shopFront">Back To Store</a>
    </header>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 shop-product-image-holder">
      <div ng-show="notAvailable" class="item-not-available">
        <p>Sorry that product is no longer available</p>
      </div>
      <img src="{{ product.imageURL }}"></img>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <formatted-text rawtext="product.description"></formatted-text>
      <div class="product-option" ng-repeat="option in product.options">
        <h5>{{ option.name }}</h5>
        <button ng-class="{'product-option-selected': value === option.value }" class="sqn-btn sqn-btn-product" ng-repeat="value in option.values" ng-bind="value" ng-click="updateSelectedVariant(option, value)">
        </button>
      </div>
      <footer class="product-option">
        <form name="addProductToBuy" ng-submit="addProductToCart()">
          <label>How many would you like?</label>
          <input type="number" ng-model="quantity" min="0" max="50" class="sqnInputNumber-wide"></input>
          <input type="submit" class="sqn-btn-positive" value="Add To Cart" ng-disabled="notAvailable" ng-class="{'sqn-btn-disabled': notAvailable }"></input>
        </form>
      </footer>
    </div>
  </div>
</section>
