event-modification {
  display: block;
  article {
    margin: 1em;
    border: 3px solid $theme-blue;
    header {
      @extend .flex-container-row;
      background-color: $theme-blue;
      padding: 0.5em;
      color: $theme-tacgrey;
      h4 {
        flex-grow: 1;
      }
      .event-option-container {
        text-align: right;
        flex-grow: 1;
      }
    }
    .event-details-container {
      color: $theme-grey;
      p {
        padding: 0.25em;
      }
    }

    footer {
      border-top: 3px solid $theme-grey;
      display: inline-block;
      height: auto;

      footer.ng-hide {

      }

    }


  }
}
