<section id="management-events" class="management-sub-menu">
  <div class="flex-container-row">
    <button class="sqn-btn" ng-click="toggleEventCreation()" ng-class="{'sqn-btn-disabled': eventCreationActive}" ng-disabled="eventCreationActive">Create Event</button>
    <button class="sqn-btn">Event Guest List</button>
  </div>
  <div class="new-event-creation" ng-show="eventCreationActive">
    <event-creation class=""></event-creation>
  </div>
  <event-modification class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="evt in allEvents" evt="evt" categories="cats">
  </event-modification>

</section>
