<section id="management-panel">

  <h2>What do you need to do today?</h2>
  <p ng-repeat="evt in allEvents">There are {{ evt.guests }} amount of people attending {{ evt.name }}<p>
  <button ng-repeat="managementView in areasToManage" ui-sref="{{ managementView.state }}">{{ managementView.title }}</button>
  <div ui-view>
    <!-- <form ng-submit="submitNewEvent()">
      <input type="text" ng-model="eventName"></input>
      <input type="submit" value="Add Event"></input>
    </form> -->
  </div>
  <div>
    <p></p>
  </div>

</section>
