@mixin panel-responsive-dimensions($width){
  .panel-active {
    transform: translateX(-$width);
  }

  active-chat-panel {
    width: $width;
    right: -$width;
  }
}

@media screen and (max-width: $screen-xxs-max){
  @include panel-responsive-dimensions(75vw);
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  @include panel-responsive-dimensions(75vw);
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
@include panel-responsive-dimensions(50vw);
}

@media screen and (min-width: $screen-md-min){
  @include panel-responsive-dimensions(25vw);
}

/*.group-private {
  background-color: rgba()
}*/

.chat-user-online {
  background-color: $theme-green !important;
}

.sqn-btn-small {
  border: 3px solid $theme-red;
  color: $theme-red;
  font-size: 1em;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: $theme-grey;
    background-color: $theme-tacgrey;
  }
}

.missed-msg-counter {
  position: relative;
  border-radius: 100%;
  background-color: $theme-red;
  height: 3rem;
  width: 3rem;
  float: right;
  margin: 0em 0.5em 0em 0em;
}

.missed-msg-content {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile-content {
  width: 100%;
  height: auto;
  z-index: 850;
  color: $theme-tacgrey;
  align-items: center;
  text-decoration: none;
  @include transition-mixin(all 0.25s ease-in-out);
  border-bottom: 1px solid $theme-tacgrey;
  &:hover {
    color: $theme-grey;
    background-color: $theme-tacgrey;
    .tile-association {
      background-color: $theme-tacgrey;
      color: $theme-grey;
    }
  }
  &:active {

  }

  p {
    margin: 0;
    width: 50%;
    padding: 1rem;
    cursor: pointer;
  }

}

.tile-options {
  width: 50%;
  padding: 1rem;
}

.group-tile {
  h6 {
    margin: 0;
    padding: 0.75em;
    &:hover {
      color: $theme-grey;
      background-color: $theme-tacgrey;
    }
  }
}

.panel-display-tab {
  position: absolute;
  top: 0px;
  left: -3.5em;
  width: 3.5em;
  height: 7.5em;
  background-color: $theme-blue;
  color: $theme-tacgrey;
  @include theme-shadow-default;
  z-index: 800;
  cursor: pointer;
  span {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    top: 2.2em;
    font-size: 1.8rem;
    left: -1em;
  }

}

active-chat-panel {
  position: fixed;
  display: block;
  top: 3.5em;
  height: calc(100% - 3.5em);
  background-color: rgba(0,0,0,0.9);
  box-shadow: -5px 0px 1em $theme-transparent-black;
  z-index: 800;
  padding: 1em;
  @include transition-mixin(transform 0.33s ease-in-out);
}

.active-chat-holder {
  position: relative;
  @include scrollable-content-viewer;
  display: block;
  border: 3px solid $theme-tacgrey;
  height: auto;
}

.chat-menu-selector {
  width: 33%;
  background-color: transparent;
  padding: 1em;
  color: $theme-tacgrey;
  &:hover {
    background-color: $theme-tacgrey;
    color: $theme-grey;
  }
}

.chat-menu-selector-active {
  background-color: $theme-tacgrey;
  color: $theme-grey;
  border: 3px solid $theme-tacgrey;
}

.active-chat-redirect {
  background-color: $theme-tacgrey;
  padding: 1em;
  color: $theme-grey;
  flex-grow: 1;
  padding: 0.25em;
  border: 3px solid $theme-tacgrey;
  margin: 0 0 1rem 0;
  &:active {
    background-color: transparent;
    color: $theme-tacgrey;
  }
}
