* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearHeader {
  padding-top: 6em;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-sqn {
  border: none;
  outline: none;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'anniversary/main';
@import 'new-attendee/main';
@import 'attendee/main';
@import 'referredNewAttendee/main';
@import 'management/main';
