* {
  box-sizing: border-box;
}

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$theme-grey: #808080;
$theme-blue: #68AFC3;
$theme-red: #D66464;
$theme-green: #88BD91;
$theme-tacgrey: #EFEFEF;

body {
  background: $theme-tacgrey;
  font-family: 'Roboto', 'Arial';
}

@mixin theme-shadow-default {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.75);
}

@mixin clearHeader {
  padding-top: 6em;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-form {
  position: relative;
  display: block;
}

.sqnInput {
  border: none;
  outline: none;
  padding: 3px;
  text-align: left;
  width: 200px;
  background-color: $theme-tacgrey;
  /*transition: 0.5s all ease-in-out;
  -webkit-tranisiton: 0.5 s all ease-in-out;*/
}

.sqnInputReadonly {
  border: none;
  color: grey;
}

.sqnInputNoTickets {
  background-color: rgba(255, 0, 0, 0.5);
}

.sqnInputActive {
  @extend .sqnInput;
  border-top-width: 3px;
  border-top-color: $theme-tacgrey;
  border-top-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  &:focus {
    border-top-color: grey;
    border-top-style: solid;
    background-color: grey;
    color: $theme-tacgrey;
  }
}

.sqnInputNumber {
  @extend .sqnInputActive;
  width: 40px;
  text-align: center;
}

@mixin base-button($pri-color, $sec-color){
  border: 3px solid $pri-color;
  background: $sec-color;
  color: $pri-color;
  outline: none;
  /*transition: 0.25s all ease-in-out;
  -webkit-tranisiton: 0.25 s all ease-in-out;*/
  &:hover {
    border-color: $sec-color;
    background: $pri-color;
    color: $sec-color;
  }
  &:active {
    border-color: $pri-color;
  }
}

.sqn-btn {
  @include base-button($theme-grey, $theme-tacgrey);
}

.sqn-btn-active {
  border-color: $theme-blue;
  color: $theme-blue;
  background: $theme-tacgrey;
  &:hover {
    border-color: $theme-tacgrey;
    color: $theme-tacgrey;
    background: $theme-blue;
  }
}

.sqn-btn-header {
  @include base-button(white, black);
}

.sqn-btn-danger {
  @include base-button($theme-red, $theme-tacgrey);
}

.sqn-btn-positive {
  @include base-button($theme-blue, $theme-tacgrey);
}

.sqn-btn-homepage {
  border: 3px solid white;
}

.sqn-btn-flex {
  flex-grow: 1;
  margin: 10px;
}

.sqn-btn-default {

}


.user-form-message {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: green;
  color: white;
  h4 {
    margin: 0;
  }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'anniversary/main';
@import 'new-attendee/main';
@import 'attendee/main';
@import 'referredNewAttendee/main';
@import 'management/main';
