* {
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}

@keyframes  fade-in-from-bottom {
  0% {
    opacity: 1;
    transform: translateY(1em)
  }

  100% {
    transform: translateY(0em){
      opacity: 1;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@mixin placeholder-styling($color){
  ::-webkit-input-placeholder {
    color: $color;
  }

  ::-moz-placeholder {
    color: $color;
  }

  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin transition-mixin($params...){
  transition: $params;
  -webkit-transition: $params;
}

$screen-xxs-max: 479px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$theme-grey: #808080;
$theme-blue: #68AFC3;
$theme-red: #D66464;
$theme-green: #88BD91;
$theme-tacgrey: #EFEFEF;
$fb-blue: #3B5998;
$gg-red: rgba(218, 79, 70, 1);
$theme-placeholder-inverse: rgba(236,237,238,0.5);
$theme-tacgrey-transparent: rgba(239,239,239,0.75);
$theme-blue-transparent: rgba(104,175,195,0.75);
$theme-transparent-black: rgba(0,0,0,0.75);

body {
  background: $theme-tacgrey;
  font-family: 'Roboto', 'Arial', 'Helvetica';
}

alert {
  border: none;
}

@mixin text-align-left {
  text-align: left;
}

@mixin theme-shadow-default {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.75);
}

@mixin scrollable-content-viewer {
  overflow-y: auto;
}

@mixin clearHeader {
  padding-top: 6em;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



#main {

}

.state-transition-view {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: $theme-grey;
  color: $theme-tacgrey;
  padding: 3em;
  text-align: center;
  height: 100%;
  width: 100%;
  animation: fade-in 3s 1;
}

.transition-squadron {

}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-form {
  position: relative;
  display: block;
}

.block-btn-holder {
  margin: 0.5em 0em 0.5em 0em;
  display: block;
  background-color: $theme-grey;
  padding: 0.25em;
  text-align: center;
}

.sqnInput {
  border: none;
  outline: none;
  padding: 0.25em;
  box-shadow: none;
  border-radius: 0;
  text-align: left;
  transition: border 0.5s, background-color 0.5s, ease-in-out;
  -webkit-transition: border 0.5s background-color 0.5s, ease-in-out;
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.sqnInputReadonly {
  border: none;
  color: $theme-grey;
  background-color: $theme-tacgrey;

}

.sqnInputError {
  background-color: $theme-red;
  color: $theme-tacgrey;
  padding: 0.25em;
  transform: translateY(0em);
  @include transition-mixin(all 0.5s ease-in-out);
}

.sqnInputError.ng-hide {
  transform: translateY(-1em);
  opacity: 0;
}


.sqnInputNoTickets {
  background-color: rgba(255, 0, 0, 0.5);
}

.sqnInputActive {
  @extend .sqnInput;
  border-top-width: 3px;
  border-top-color: $theme-tacgrey;
  border-top-style: solid;
  border-bottom-color: $theme-grey;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: $theme-tacgrey;
  @include placeholder-styling($theme-tacgrey);
  &:focus {
    border-top-color: $theme-blue;
    border-top-style: solid;
    background-color: $theme-blue;
    color: $theme-tacgrey;
    border-bottom-color: $theme-grey;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

.sqn-input-wide {
  width: 90%;
}

.sqnInputActive-inverse {
  @extend .sqnInput;
  border-top-width: 3px;
  border-top-color: $theme-blue;
  border-top-style: solid;
  border-bottom-color: $theme-tacgrey;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: $theme-blue;
  &:focus {
    border-top-color: $theme-tacgrey;
    border-top-style: solid;
    background-color: $theme-tacgrey;
    color: $theme-blue;
    border-bottom-color: $theme-tacgrey;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}


.sqnInputEmail {
  @extend .sqnInputActive;
  min-width: 15em;
  text-align: center;
}

.sqnInputNumber {
  @extend .sqnInputActive;
  width: 2.7em;
  text-align: center;
}

.sqnInputNumber-wide {
  @extend .sqnInputActive;
  width: 3.5em;
  text-align: center;
}


.sqn-not-available-label {
  @extend .sqnInputError;
  border: 3px solid $theme-red;
  margin: 0;
  opacity: 1;
  @include transition-mixin(all 0.25s ease-in-out);
}

.sqn-not-available-label.ng-hide {
  opacity: 0;
}

.button-flex-login-register {
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  min-width: 150px;
  height: 150px;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  &:hover {
    @include theme-shadow-default;
  }
  &:active {
    box-shadow: 0px 0.5em 1em 0.25em grey inset;
  }
}


@mixin base-button($pri-color, $sec-color){
  border: 3px solid $pri-color;
  background: $sec-color;
  color: $pri-color;
  outline: none;
  text-decoration: none;
  /*transition: 0.25s all ease-in-out;
  -webkit-tranisiton: 0.25 s all ease-in-out;*/
  &:hover {
    border-color: $sec-color;
    background: $pri-color;
    color: $sec-color;
  }
  &:active {
    border-color: $pri-color;
  }
}

.sqn-btn {
  @include base-button($theme-grey, $theme-tacgrey);
}

.sqn-btn-inverse {
  @include base-button($theme-tacgrey, $theme-grey);
}

.sqn-btn-active {
  border-color: $theme-blue;
  color: $theme-blue;
  background: $theme-tacgrey;
  &:hover {
    border-color: $theme-tacgrey;
    color: $theme-tacgrey;
    background: $theme-blue;
  }
}

.sqn-btn-header {
  @include base-button(white, black);
}

.sqn-btn-danger {
  @include base-button($theme-red, $theme-tacgrey);
}

.sqn-btn-positive {
  @include base-button($theme-blue, $theme-tacgrey);
}

.sqn-btn-homepage {
  border: 3px solid white;
}

.sqn-btn-large {
  font-size: 1.5em;
  margin: 0.5em 0.5em 1em 0.5em;
}

.sqn-btn-flex {
  flex-grow: 1;
  margin: 10px;
}

.sqn-btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Styling for paragraphs generated by the formatted text directive. */
formatted-text {
  display: block;
  p {
    margin: 0em 0em 0.25em 0em;
  }
}

@mixin login-btn-config-settings($bg-color){
  background-color: $bg-color;
  img {
    margin: auto;
    height: 7.5em;
    width: 7.5em;
    position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
  }

  span {
    background-color: transparent;
    color: white;
    display: block;
  }
}

.email-btn {
  @include login-btn-config-settings($theme-blue);
}

.facebook-btn {
  @include login-btn-config-settings($fb-blue);
}
.google-btn {
  @include login-btn-config-settings($gg-red);
}

.sqn-label-emphasis {
  background-color: $theme-grey;
  color: $theme-tacgrey;
  padding: 0.2em 2em;
  width: 100%;
}

.form-group > input, .sqnInput > label {
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  &:focus {
   transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
  }
  &:hover {
    transform: scale(1.1, 1.1);
     -webkit-transform: scale(1.1, 1.1);
  }
}

.management-sub-menu {
  padding-top: 4em;
  color: $theme-grey;
}

.shop-storefront {
  padding: 5em;
}  

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'new-attendee/main';
@import 'attendee/main';
@import 'referredNewAttendee/main';
@import 'management/main';
@import 'management-events/main';
@import 'management-announcements/main';
@import 'management-users/main';
@import 'messaging/main';
