<section id="user-profile">

  <h2>Hi {{ user.firstName }}</h2>
  <form>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
      <p>{{ user.association }}</p>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 form-group">
      <h3>Events you are attending: </h3>
      <p ng-repeat="event in eventsAttending"><span>{{ event }}</span>
        <button>Bringing guests?</button>
        <button ng-click="removeFromEvent(event)">Cancel Attendance</button>
      </p>
    </div>
  </form>

</section>
