<section class="event-guest-list-holder">
  <header class="flex-container-row flex-vertical-center">
    <h4 ng-bind="guest.attendeeName"></h4>
    <button class="sqn-btn" ng-click="addToEmailList()" ng-show="userDetails['email']" ng-disabled="addedToEmail" ng-class="{'sqn-btn-disabled': addedToEmail }">Send Email</button>
    <attendee-event-payment></attendee-event-payment>
  </header>
  <div class="flex-container-row event-guest-info" ng-repeat="item in guest.guestNames">
    <p ng-bind="item.name"></p>
    <button class="sqn-btn-danger" ng-click="removeDuplicateGuest(item)" ng-disabled="processingRemoval" ng-class="{'sqn-btn-disabled': processingRemoval }">Remove Duplicate Guest</button>
  </div>
</section>
