<section class="event-guest-list-holder">
  <header class="flex-container-row flex-vertical-center">
    <h4>{{ details.firstName }} {{ details.lastName }}</h4>
    <button class="sqn-btn" ng-click="addToEmailList()" ng-show="details['email']" ng-disabled="addedToEmail" ng-class="{'sqn-btn-disabled': addedToEmail }">Send Email</button>
    <attendee-event-payment details="details" evt="evt"></attendee-event-payment>
  </header>
  <div class="flex-container-row event-guest-info" ng-repeat="item in details.eventGuestList[evt.$id]">
    <p ng-bind="item.name"></p>
    <button class="sqn-btn-danger" ng-click="removeDuplicateGuest(item)" ng-disabled="processingRemoval" ng-class="{'sqn-btn-disabled': processingRemoval }">Remove Duplicate Guest</button>
  </div>
</section>
