<article>
  <header>
    <h4>{{ evt.name }}</h4>
      <div class="event-option-container">
        <button class="sqn-btn-danger" ng-click="removeEvent(evt)">Delete</button>
        <button class="sqn-btn" ng-click="toggleEditMode()">{{ editOption }}</button>
        <button class="sqn-btn" ng-click="toggleGuestLimits()">{{ guestLimits.buttonText }} Guest Limits</button>
      </div>
  </header>
  <div class="event-details-container">
    <p> {{ displayDate }} | Start Time:  {{ evt.startTime.hours }}{{ evt.startTime.minutes }}</p>
    <p>{{ evt.location }}</p>
    <p>Event Details...</p>
  </div>
  <div>
    <event-guest-limit ng-show="guestLimits.displayMenu" evt=evt cats="categories"></event-guest-limit>
  </div>
  <footer ng-show="editMode">
    <event-creation evt="evt"></event-creation>
  </footer>
</article>
