<article>
  <header>
    <h4>{{ evt.name }}</h4>
    <button ng-click="removeEvent(evt)">Delete</button>
    <button ng-click="toggleEditMode()">{{ editOption }}</button>
  </header>
  <div>
    <p> {{ displayDate }} | {{ displayTime }}</p>
    <p>{{ evt.location }}</p>
  </div>
  <footer ng-show="editMode">
    <form  ng-submit="updateEvent()">
      <label>Name</label>
      <input type="text" ng-model="modifiedEntry.name"></input>
      <label>Date</label>
      <input type="date" ng-model="modifiedEntry.date"></label>
      <label>Time</label>
      <input type="time" ng-model="modifiedEntry.startTime"></input>
      <label>Location</label>
      <input type="text" ng-model="modifiedEntry.location"></input>
      <input type="submit" value="Update Event"></input>
    </form>
  </footer>
</article>
